body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
}

@media screen and (max-width: 414px) {
    body {
        margin: 20px 20%;
        font-size: 18px;
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0;
    }
}