header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}

@media only screen and (min-width: 414px) {
    header {
        height: 40px;
        width: 100%;
        padding: 10px;
        background-position-x: center;
        background-position-y: center;
    }
}