* {
    box-sizing: border-box;
}
body {
    width: 100%;
}
.header {
    width: 100%;
}
.head {
    float: left;
    width: 33.33%;
    height: 70px;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
}
li {
    float: left;
}
li a {
    display: inline-block;
    padding: 10px 7px;
    margin-top: 5px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(160, 120, 197);
    border-radius: 10px;
}
div.head h3 {
    text-align: center;
    margin: auto;
    font-family: "sofia", fantasy;
}
div.head i {
    float: right;
    margin: 5px;
    padding: 10px 10px;
}
p.intro {
    color: blueviolet;
    font-size: xx-large;
    margin: auto;
    padding: 30px;
    height: 110px;
    text-align: center;
}
span.intro {
    text-decoration: line-through;
    font-size: xxx-large;
}